* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.8);
    border-bottom: 2px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    box-shadow: inset 0 -2px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -2px #ffffff;
}

#workspaces button {
    padding: 0 8px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 0;
}

#workspaces button:hover {
    background: rgba(100, 114, 125, 0.3);
}

#workspaces button.active {
    background-color: #64727D;
    color: #ffffff;
    box-shadow: inset 0 -2px #ffffff;
}

#workspaces button.urgent {
    background-color: #64727D;
    color: #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#window {
    padding: 0 10px;
    color: #ffffff;
    background-color: #64727D;
    margin: 0 2px;
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #64727D;
}

#battery {
    background-color: #64727D;
    color: #ffffff;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #64727D;
}

#battery.critical:not(.charging) {
    background-color: #64727D;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#cpu {
    background-color: #64727D;
    color: #ffffff;
}

#memory {
    background-color: #64727D;
    color: #ffffff;
}

#temperature {
    background-color: #64727D;
    color: #ffffff;
}

#temperature.critical {
    background-color: #64727D;
    color: #ffffff;
}

#backlight {
    background-color: #64727D;
    color: #ffffff;
}

#network {
    background-color: #64727D;
    color: #ffffff;
}

#network.disconnected {
    background-color: #64727D;
    color: #ffffff;
}

#pulseaudio {
    background-color: #64727D;
    color: #ffffff;
    min-width: 80px;
}

#pulseaudio.muted {
    background-color: #64727D;
    color: #ffffff;
}

#pulseaudio:hover {
    background-color: #5a6269;
}

#tray {
    background-color: #64727D;
    color: #ffffff;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #64727D;
}

#window {
    background-color: transparent;
    color: #ffffff;
}
