dconf
discord
dolphinrc
Electron
glib-2.0
go
gtk-3.0
gtk-4.0
htop
kde.org
menus
mimeapps.list
nautilus
pavucontrol.ini
Proton
pulse
pupgui
qBittorrent
QtProject.conf
session
spotify
sunshine
superfile
systemd
Thunar
transmission-daemon
user-dirs.dirs
user-dirs.locale
vlc
xfce4
yay
yazi/nohup.out
