dconf
discord
dolphinrc
Electron
glib-2.0
go
gtk-3.0
gtk-4.0
htop
kde.org
menus
mimeapps.list
nautilus
pavucontrol.ini
Proton
pulse
pupgui
qBittorrent
QtProject.conf
session
spotify
sunshine
superfile
systemd
Thunar
transmission-daemon
user-dirs.dirs
user-dirs.locale
vlc
xfce4
yay
yazi/nohup.out
.gsd-keyboard.settings-ported
Code/
Cursor/
GNOME-xdg-terminals.list
Insomnia/
JetBrains/
Lens/
MonoDevelop-5.0/
MonoDevelop/
Slack/
SpecFlow/
StorageExplorer/
VirtualBox/
background
cef_user_data/
com.yuezk.gpgui/
configstore/
dleyna-renderer-service.conf
enchant/
eog/
evolution/
filezilla/
flameshot/
gh/
git/
gnome-boxes/
gnome-control-center/
gnome-initial-setup-done
gnome-xdg-terminals.list
gpgui/
gtk-2.0/
helm/
ibus/
intune/
kritadisplayrc
kritarc
lazygit/
libreoffice/
libvirt/
microsoft-azurevpnclient/
monitors.xml
monitors.xml~
pgadmin/
pgadmin4/
rygel.conf
stetic/
sublime-text/
teams-for-linux/
totem/
user-share/
vesktop/
xbuild/
xdg-terminals.list
zed/

# Neovim
nvim/lazy-lock.json
nvim/.DS_Store
nvim/*.log
nvim/data/
nvim/.repro
nvim/debug
nvim/tt.*
nvim/.tests
lua/.DS_Store
nvim/lua/.DS_Store
nvim/lua/plugins/.DS_Store
.DS_Store
